Flask
Flask-Caching
Flask-Compress
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
jupyter-core
matplotlib
numpy
pandas
pandas-datareader
plotly
requests
retrying
rsa
scipy
six
smmap
traitlets
tzlocal
urllib3
Werkzeug
wrapt
WTForms
